<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href="https://fastly.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link media="screen" href="https://fastly.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://fastly.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- my attempt at seo...nevermind -->
    <title>PyNCMd 网易云音乐在线解析</title>
    <meta name="description" content="在线解析，下载高质量网易云音乐资源（单曲、歌单、专辑、MV、歌词）；内置可视化，播放列表">

    <style media="screen">
        body {
            overflow: hidden;            
        }
        .background{
            position: absolute;
            z-index: 0;
            top: 0;left: 0;
            height: calc(100vh - 80px);
            width: 100vw;
        }
        #visualizer,#vplayer {
            position: absolute;
            top: 0;left: 0;
            height: calc(100vh - 80px);
            width: 100vw;
        }

        #vplayer{            
            z-index: 0;
        }

        .progressing,.progressing * {
            transition: all 0.25s linear;
            opacity: 1 !important;
        }

        .progressing > .lyrics-translation{
            transition: all 0.1s linear;
        }
        @keyframes shake {
            50% {
                transform: translate(3px, 3px)
            }

            100% {
                transform: translate(3px, 0px)
            }
        }

        .lyrics-active {
            background-color: lightskyblue;
            animation: shake 0.18s;
        }


        .lyrics-line {
            display: flex;
            width: fit-content;
            overflow: hidden;
            background-size: 200% 200%;
            background-image: linear-gradient(to right, blue 50%, white 50%);
            -webkit-background-clip: text;
        }

        .lyrics-token {
            display: grid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .lyrics-token-roma,
        .lyrics-token-original {
            grid-column: 1;
            overflow: hidden;            
            -webkit-text-fill-color: transparent;
        }

        .lyrics-token-original {
            grid-row: 1;
            font-weight: bolder;
            font-size: 4vw;
            -webkit-text-stroke: 0.03em whitesmoke;
        }

        .lyrics-token-roma {
            grid-row: 2;
            margin-top: -1.2em;
            text-align: center;
            font-size: 2vw;
            text-transform: uppercase;
            -webkit-text-stroke: 0.03em whitesmoke;
        }

        .lyrics-lines {
            padding: 3vw;
            position: fixed;
            top: 50%;
            transform: translate(0%, calc(-80px - 50%));
            width: 100vw;
            height: fit-content;
            display: grid;
        }

        .lyrics-line-1 {
            grid-row: 1;
            justify-self: left;
        }

        .lyrics-line-2 {
            grid-row: 2;
            justify-self: right;
        }

        .lyrics-translation {
            position: fixed;
            bottom: 80px;
            background-color: rgba(0, 0, 0, .5);
            width: 100vw;
            text-align: center;
            opacity: 0;
        }
    </style>
    <style media="print">
        @font-face {
            font-family: NewCinemaB;
            src: url("https://files.catbox.moe/yjnt5k.otf");
        }

        * {
            font-family: NewCinemaB;
        }

        .lyrics-line,
        .v-bottom-navigation,
        .v-input,
        [role=menu],
        canvas {
            display: none;
        }

        tbody {
            height: 100vh;
            font-size: 1.5vw;
        }

        .headline {
            font-size: 3vw;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <audio id="player"></audio>
    <div id="app">
        <v-app>
            <div class="background">
                <video muted id="vplayer"></video>
                <canvas onclick="document.body.requestFullscreen()" id="visualizer"></canvas>
            </div>
            
            <div v-if="lrcTokens && config.showLyrics" v-bind:class="{'progressing' : getLyricsPrecentage(true) > 0}">
                <div class="lyrics-translation" v-if="lrcTranslate">
                    {{lrcTranslate[timestampAt(matchedIndex)]}}
                </div>
                <div class="lyrics-lines">
                    <div class="lyrics-line lyrics-line-1" 
                        v-bind:style="{'background-position':(1-Math.min(getLyricsPrecentage() * 1.2,1))*100 + '% 100%'}">
                        <div class="lyrics-token" v-for="token in lrcTokens[matchedIndex]">
                            <!-- pre is used since others don't display single half-width spaces at all -->
                            <pre v-if="checkRoma" class="lyrics-token-roma">{{token[config.romaConventionUseHepburnOrKunreiOrPassport]}}</pre>
                            <pre v-if="checkOriginal" class="lyrics-token-original">{{token.orig}}</pre>
                        </div>
                    </div>

                    <div class="lyrics-line lyrics-line-2"
                        v-bind:style="{'background-position':'100%'}">
                        <div class="lyrics-token" v-for="token in lrcTokens[matchedIndex + 1]">
                            <pre v-if="checkRoma" class="lyrics-token-roma">{{token[config.romaConventionUseHepburnOrKunreiOrPassport]}}</pre>
                            <pre v-if="checkOriginal" class="lyrics-token-original">{{token.orig}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <v-dialog max-width="80%" v-model="error">
                <v-card>
                    <v-card-title>
                        <span class="headline">获取详情时出错</span>
                    </v-card-title>
                    <v-card-text>
                        <div class="text-h6 pa-12">{{ lastError }}</div>
                    </v-card-text>
                </v-card>
            </v-dialog>

            <v-dialog style="background: white;" max-width="80%" v-model="trackConflictDialog">
                <v-card>
                    <v-card-title>
                        <span class="headline">歌曲冲突</span>
                    </v-card-title>
                    <v-alert border="right" colored-border type="error" elevation="2">
                        以下歌曲已存在
                    </v-alert>
                    <v-spacer></v-spacer>
                    <v-list>
                        <v-list-item v-for="track in existTracks" :key="track.id">
                            <v-list-item-title>{{ track.name }}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{track.ar.map(function(f){return f.name}).join('-')}} - {{track.al.name}}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-dialog>

            <v-bottom-navigation fixed grow height="80">
                <v-dialog inset hide-overlay>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on">
                            <span>设置</span>
                            <v-icon>mdi-account-settings</v-icon>
                        </v-btn>
                    </template>
                    <v-toolbar dark prominent>
                        <v-toolbar-title>设置</v-toolbar-title>
                    </v-toolbar>
                    <v-spacer></v-spacer>
                    <v-card v-if="config">
                        <v-list v-for="(value, name) in config" v-bind:key="name">
                            <v-list-item>
                                <v-list-item-title>{{name}}</v-list-item-title>
                                <v-text-field v-if="typeof value == 'string'" v-model="config[name]" single-line>
                                </v-text-field>
                                <v-checkbox v-else-if="typeof value == 'boolean'" v-model="config[name]"></v-checkbox>
                                <v-text-field v-else type="number" v-model="config[name]" single-line></v-text-field>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-dialog>
                <v-card v-if="currentTrack" tile grow width="70%">
                    <v-container style="height: 1em;padding-top:0.5em; ">
                        <v-row>
                            <v-col cols="auto">{{toTimestamp(player.currentTime).substr(0,5)}}</v-col>
                            <v-col cols="16">
                                <v-slider class="large-slider" :value="currentTime" :max="duration"
                                    style="margin-top: -0.25em;" absolute class="my-0 py-0" @change="seekTrack">
                                </v-slider>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-list>
                        <v-list-item-group>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title><a target="_blank"
                                        :href="'https://music.163.com/#/song?id=' + currentTrack.id">
                                        <strong>{{ currentTrack.name }}</strong>
                                    </a></v-list-item-title>
                                <v-list-item-subtitle>
                                    {{currentTrack.ar.map(function(f){return f.name}).join('/')}} -
                                    {{currentTrack.al.name}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                            <v-spacer></v-spacer>
                            <v-list-item-icon>
                                <v-btn icon @click="
                                    shuffleMode = shuffleModes[(shuffleModes.indexOf(shuffleMode) + 1) % shuffleModes.length]
                                ">
                                    <v-icon>mdi-{{ shuffleMode }}</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-list-item-icon>
                                <v-btn icon @click="opearteTrack('rewind')">
                                    <v-icon>mdi-rewind</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-list-item-icon :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
                                <v-btn icon @click="opearteTrack('pause')">
                                    <v-icon v-if="!player.paused">mdi-pause</v-icon>
                                    <v-icon v-else>mdi-play</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-list-item-icon class="ml-0" :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
                                <v-btn icon @click="opearteTrack('forward')">
                                    <v-icon>mdi-fast-forward</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-menu>
                                <template v-slot:activator="{ on }">
                                    <v-list-item-icon class="ml-0">
                                        <v-btn icon v-on="on">
                                            <v-icon>mdi-dots-vertical</v-icon>
                                        </v-btn>
                                    </v-list-item-icon>
                                </template>
                                <v-list>
                                    <v-list-item v-if="currentAudio" @click="downloadTrack(currentAudio)">
                                        <v-list-item-title>
                                            <v-icon>mdi-download</v-icon> Download
                                        </v-list-item-title>
                                    </v-list-item>
                                    
                                    <v-dialog>
                                        <template v-slot:activator="{ on }">
                                            <v-list-item>
                                                <v-list-item-title v-on="on" style="cursor:default;">
                                                    <v-icon>mdi-script-text</v-icon> Lyrics
                                                </v-list-item-title>
                                            </v-list-item>
                                        </template>
                                        <v-card>
                                            <v-card-title>
                                                <a class="headline"
                                                    v-on:click="openWindow('https://music.163.com/#/song?id=' + currentTrack.id)">{{
                                                    currentTrack.name }} - {{currentTrack.ar.map(function(f){return
                                                    f.name}).join('/')}} - {{currentTrack.al.name}}</a>
                                                <v-btn style="position: absolute;right:1em;z-index: 10"
                                                    onclick="window.print()" class="v-input">
                                                    <v-icon>mdi-printer</v-icon>打印
                                                </v-btn>
                                                <v-row no-gutters>
                                                    <v-col>
                                                        <v-checkbox v-model="checkOriginal" label="歌词原文"></v-checkbox>
                                                    </v-col>
                                                    <v-col>
                                                        <v-checkbox v-model="checkRoma" label="罗马音"></v-checkbox>
                                                    </v-col>
                                                    <v-col>
                                                        <v-checkbox v-model="checkTranslate" label="翻译"></v-checkbox>
                                                    </v-col>
                                                </v-row>
                                            </v-card-title>
                                            <hr>
                                            </hr>
                                            <v-simple-table v-if="lrcOriginal">
                                                <template v-slot:default>
                                                    <tbody>
                                                        <tr v-bind:class="{ 'lyrics-active' : timestampAt(matchedIndex)==key }"
                                                            v-for="[key, value] of Object.entries(lrcOriginal)"
                                                            v-if="value[0]" :key="key" :id="'lyric-view-'+key"
                                                            @click="player.currentTime=key">
                                                            <td role="menu">{{toTimestamp(key)}}</td>
                                                            <td v-if="checkOriginal"> {{value}} </td>
                                                            <td v-if="checkRoma"> {{lrcRomaOriginal[key]}}</td>
                                                            <td v-if="checkTranslate"> {{lrcTranslate[key]}}</td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-card>
                                    </v-dialog>

                                    <v-dialog>
                                        <template v-slot:activator="{ on }">
                                            <v-list-item v-on="on" style="cursor:default;">
                                                <v-list-item-title>
                                                    <v-icon>mdi-file-video-outline</v-icon> MV
                                                </v-list-item-title>
                                            </v-list-item>
                                        </template>
                                        <v-card class="mx-auto" tile>
                                            <v-card-title>
                                                MV 相关信息
                                            </v-card-title>
                                            <hr>
                                            </hr>
                                            <div v-if="!currentMV">无 MV</div>
                                            <v-list v-if="currentMV">
                                                <v-list-item-group>
                                                <v-list-item>
                                                    <v-list-item-title style="cursor:default;" @click="downloadTrack(currentMV.data)">
                                                        <v-icon>mdi-download</v-icon> 下载 MV
                                                    </v-list-item-title>
                                                </v-list-item>
                                                <v-list-item>
                                                    <v-list-item-title style="cursor:default;" @click="setBackgroundVideo(currentMV.data.url)">
                                                        <v-icon>mdi-play</v-icon> 背景播放 MV
                                                    </v-list-item-title>
                                                </v-list-item>
                                            </v-list-item-group>
                                            <v-list>
                                        </v-card>
                                    </v-dialog>
                                </v-list>
                            </v-menu>
                        </v-list-item>
                        </v-list-item-group>
                    </v-list>

                </v-card>
                <v-dialog v-model="loading" hide-overlay persistent width="300">
                    <v-card color="primary" dark>
                        <v-card-text>
                            {{ loadInfo }}
                            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                        </v-card-text>
                    </v-card>
                </v-dialog>
                <v-dialog max-width="80%" inset hide-overlay>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on">
                            <span>播放列表</span>
                            <v-icon>mdi-animation-play</v-icon>
                        </v-btn>
                    </template>
                    <v-toolbar dark prominent>
                        <v-toolbar-title>播放列表</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-menu top close-on-content-click>
                            <template v-slot:activator="{ on }">
                                <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
                            </template>
                            <v-list>
                                <v-dialog max-width="50%">
                                    <template v-slot:activator="{ on }">
                                        <v-list-item v-on="on">
                                            <v-icon>mdi-cloud-search</v-icon>
                                            <v-list-item-title>搜索歌曲...</v-list-item-title>
                                        </v-list-item>
                                    </template>
                                    <v-card>
                                        <v-card-title>
                                            <span class="headline">搜索</span>
                                        </v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-text-field label="Search tracks" @input="queryString=$event" class="mx-4">
                                        </v-text-field>
                                        <v-progress-linear absolute bottom v-if="loadingRecessive" indeterminate>
                                        </v-progress-linear>
                                        <v-list>
                                            <v-list-item v-if="searchResults" v-for="track in searchResults"
                                                :key="track.id" @click="addTrack(track.id.toString())">
                                                <v-list-item-title>{{ track.name }}</v-list-item-title>
                                                <v-list-item-subtitle>
                                                    {{track.ar.map(function(f){return f.name}).join('-')}} -
                                                    {{track.al.name}}
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                    </v-card>
                                </v-dialog>

                                <v-dialog>
                                    <template v-slot:activator="{ on }">
                                        <v-list-item v-on="on">
                                            <v-icon>mdi-earth</v-icon>
                                            <v-list-item-title>粘贴分享链接...</v-list-item-title>
                                        </v-list-item>
                                    </template>
                                    <v-card v-if="!loading">
                                        <v-card-title>
                                            <span class="headline">粘贴分享链接</span>
                                        </v-card-title>
                                        <v-text-field @input="newURL=$event" class="pa-2"
                                            label="URL (.e.g. https://music.163.com/#/song?id=66282)" required>
                                        </v-text-field>
                                        </v-card-actions>
                                        <v-card-actions class="justify-end">
                                            <v-btn text @click="addTrack(newURL)" :disabled="loading">OK</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                                </v-card>
                            </v-list>
                        </v-menu>
                    </v-toolbar>
                    <v-card v-if="!playlist.length" class="text-h6 pa-12">
                        播放列表为空。请在 <v-btn>
                            <v-icon>mdi-menu</v-icon>
                        </v-btn> 处添加新曲
                    </v-card>
                    <v-list v-if="playlist.length" ghost-class="ghost">
                        <v-list-item v-for="(track,index) in playlist" :key="track.id" @click="setPlay(track)">
                            <v-list-item-title>{{track.name}}</v-list-item-title>
                            <v-list-item-subtitle>{{track.al.name}} -
                                {{track.ar.map(function(f){return f.name}).join('-')}}
                            </v-list-item-subtitle>
                            <v-spacer></v-spacer>
                            <v-list-item-icon class="ml-0">
                                <v-btn icon v-if="track.id != currentTrack.id" @click="playlist.splice(index,1)">
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>
                                <v-btn icon v-else @click="downloadTrack(track)">
                                    <v-icon>mdi-download</v-icon>
                                </v-btn>
                            </v-list-item-icon>

                    </v-list>

                    </draggable>
                    <v-footer padless>
                        <v-col class="text-center" cols="12">
                            服务提供 ： <strong>{{ server ? server : '...匿名' }}</strong>
                        </v-col>
                    </v-footer>
                </v-dialog>
            </v-bottom-navigation>

            <v-snackbar top multi-line v-model="snackBar" :timeout="snackTimeout">
                {{ snackMessage }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="red" icon @click="snackBar = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </template>
            </v-snackbar>
        </v-app>
    </div>
</body>
<script src="js/utils.js"></script>
<script src="js/core.js"></script>
<script>
    window.addEventListener('load', fftInit)
</script>

</html>