<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href="css/vuetify.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <script src="js/framework/polyfill.min.js"></script>
    <script src="js/framework/vue.js"></script>
    <script src="js/framework/vuetify.js"></script>

    <title>le advanced player has arrived yet again</title>
    <style>
        #visualizer {
            z-index: 0;
            height: 100vh;
        }

        .lyrics-holder {
            width: auto;
            position: fixed;
            width: 100%;
            top: 20%;
            bottom: 20%;
            padding: 10%;
            background-color: rgba(0, 0, 0, 0.5)
        }

        .lyric-0,
        .lyric-1,
        .lyric-2 {
            font-size: 4em;
            font-weight: 400;
            color: white !important;
        }

        .lyric-0 {
            font-weight: bolder;
        }

        .lyric-1 {
            font-size: 2em;
        }

        .lyric-2 {
            font-size: 1em;
            font-weight: lighter;
        }

        .lyrics-a {
            float: left;
        }

        .lyrics-b {
            opacity: 50%;
            float: right;
            margin-top: 0.5em
        }
    </style>

</head>

<body>
    <audio id="player"></audio>
    <div id="app">
        <v-app>
            <canvas id="visualizer"></canvas>
            <div class="lyrics-holder" v-if="parsedLyrics && config.showLyrics">
                <div class="lyrics-a">
                    <p v-for="(lyric,index) in this.lyricsAt(this.matchedIndex - 1)" :class="'lyric-'+index">{{lyric}}
                    </p>
                </div></br>
                <div class="lyrics-b">
                    <p v-for="(lyric,index) in this.lyricsAt(this.matchedIndex)" :class="'lyric-'+index">{{lyric}}</p>
                </div>
            </div>
            <v-dialog max-width="80%" v-model="error">
                <v-card>
                    <v-card-title>
                        <span class="headline">Track Fetch Error</span>
                    </v-card-title>
                    <v-card-text>
                        <div class="text-h6 pa-12">{{ lastError }}</div>
                    </v-card-text>
                </v-card>
            </v-dialog>

            <v-dialog style="background: white;" max-width="80%" v-model="trackConflictDialog">
                <v-card>
                    <v-card-title>
                        <span class="headline">Track Conflict</span>
                    </v-card-title>
                    <v-alert border="right" colored-border type="error" elevation="2">
                        The following tracks were not added as they already exist:
                    </v-alert>
                    <v-spacer></v-spacer>
                    <v-list>
                        <v-list-item v-for="track in existTracks" :key="track.id">
                            <v-list-item-title>{{ track.name }}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{track.ar.map(function(f){return f.name}).join('-')}} - {{track.al.name}}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-dialog>

            <v-bottom-navigation fixed grow height="80">
                <v-dialog inset hide-overlay>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on" @click="updateStats">
                            <span>Settings</span>
                            <v-icon>mdi-account-settings</v-icon>
                        </v-btn>
                    </template>
                    <v-toolbar dark prominent>
                        <v-toolbar-title>Settings</v-toolbar-title>
                    </v-toolbar>
                    <v-spacer></v-spacer>
                    <v-card v-if="config">
                        <v-list v-for="(value, name) in config" v-bind:key="name">
                            <v-list-item>
                                <v-list-item-title>{{name}}</v-list-item-title>
                                <v-text-field v-if="typeof value == 'string'" v-model="config[name]" single-line>
                                </v-text-field>
                                <v-checkbox v-else-if="typeof value == 'boolean'" v-model="config[name]"></v-checkbox>
                                <v-text-field v-else type="number" v-model="config[name]" single-line></v-text-field>
                            </v-list-item>
                        </v-list>
                    </v-card>
                    <v-footer padless>
                        <v-col v-if="requests" class="text-center" cols="12">
                            You have listented to <strong>{{ requests.length }}</strong> songs
                        </v-col>
                    </v-footer>
                </v-dialog>
                <v-card v-if="currentTrack" tile grow width="80%">
                    <v-slider class="large-slider" style="height: 1em;" :value="currentTime" :max="duration" absolute
                        class="my-0 py-0" @change="seekTrack">
                    </v-slider>
                    <v-list>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title><a target="_blank"
                                        :href="'https://music.163.com/#/song?id=' + currentTrack.id">
                                        <strong>{{ currentTrack.name }}</strong>
                                    </a></v-list-item-title>
                                <v-list-item-subtitle>
                                    {{currentTrack.ar.map(function(f){return f.name}).join('/')}} -
                                    {{currentTrack.al.name}}
                                </v-list-item-subtitle>
                            </v-list-item-content>
                            <v-spacer></v-spacer>
                            <v-list-item-icon>
                                <v-btn icon @click="opearteTrack('rewind')">
                                    <v-icon>mdi-rewind</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-list-item-icon :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
                                <v-btn icon @click="opearteTrack('pause')">
                                    <v-icon v-if="!player.paused">mdi-pause</v-icon>
                                    <v-icon v-else>mdi-play</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-list-item-icon class="ml-0" :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
                                <v-btn icon @click="opearteTrack('forward')">
                                    <v-icon>mdi-fast-forward</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                            <v-menu>
                                <template v-slot:activator="{ on }">
                                    <v-list-item-icon class="ml-0">
                                        <v-btn icon v-on="on">
                                            <v-icon>mdi-dots-vertical</v-icon>
                                        </v-btn>
                                    </v-list-item-icon>
                                </template>
                                <v-list>
                                    <v-list-item v-if="currentAudio" @click="downloadTrack(currentAudio)">
                                        <v-list-item-title>
                                            <v-icon>mdi-download</v-icon> Download
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-list-item>
                    </v-list>

                </v-card>
                <v-dialog v-model="loading" hide-overlay persistent width="300">
                    <v-card color="primary" dark>
                        <v-card-text>
                            {{ loadInfo }}
                            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                        </v-card-text>
                    </v-card>
                </v-dialog>
                <v-dialog max-width="80%" inset hide-overlay>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on="on">
                            <span>Playlist</span>
                            <v-icon>mdi-animation-play</v-icon>
                        </v-btn>
                    </template>
                    <v-toolbar dark prominent>
                        <v-toolbar-title>Playlist</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-menu top close-on-content-click>
                            <template v-slot:activator="{ on }">
                                <v-app-bar-nav-icon v-on="on"></v-app-bar-nav-icon>
                            </template>
                            <v-list>
                                <v-dialog max-width="50%">
                                    <template v-slot:activator="{ on }">
                                        <v-list-item v-on="on">
                                            <v-icon>mdi-cloud-search</v-icon>
                                            <v-list-item-title>Add via Search</v-list-item-title>
                                        </v-list-item>
                                    </template>
                                    <v-card>
                                        <v-card-title>
                                            <span class="headline">Search</span>
                                        </v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-text-field label="Search tracks" @input="queryString=$event" class="mx-4">
                                        </v-text-field>
                                        <v-progress-linear absolute bottom v-if="loadingRecessive" indeterminate>
                                        </v-progress-linear>
                                        <v-list>
                                            <v-list-item v-if="searchResults" v-for="track in searchResults"
                                                :key="track.id" @click="addTrack(track.id.toString())">
                                                <v-list-item-title>{{ track.name }}</v-list-item-title>
                                                <v-list-item-subtitle>
                                                    {{track.ar.map(function(f){return f.name}).join('-')}} -
                                                    {{track.al.name}}
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                    </v-card>
                                </v-dialog>

                                <v-dialog>
                                    <template v-slot:activator="{ on }">
                                        <v-list-item v-on="on">
                                            <v-icon>mdi-earth</v-icon>
                                            <v-list-item-title>Add via URL</v-list-item-title>
                                        </v-list-item>
                                    </template>
                                    <v-card v-if="!loading">
                                        <v-card-title>
                                            <span class="headline">Add tracks</span>
                                        </v-card-title>
                                        <v-text-field @input="newURL=$event" class="pa-2"
                                            label="URL (.e.g. https://music.163.com/#/song?id=66282)" required>
                                        </v-text-field>
                                        </v-card-actions>
                                        <v-card-actions class="justify-end">
                                            <v-btn text @click="addTrack(newURL)" :disabled="loading">OK</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>

                                <v-dialog>
                                    <template v-slot:activator="{ on }">
                                        <v-list-item v-on="on" @click="                                            
                                            updateStats().then(()=>{if(globalRequests.length > 0){
                                                bufferTrackDetails(globalRequests).then(()=>{
                                                    var songs1 = {}
                                                    // spearting songs via id hash-table
                                                    for (var song of bufferedPlaylist.songs){
                                                        songs1[song['id']]=song
                                                        songs1[song['id']]['id']=song['id']
                                                    }
                                                    userPlaylist.splice(0)
                                                    for (var id of requests) userPlaylist.push(songs1[id])                                                    
                                                })
                                            }})
                                        ">
                                            <v-icon>mdi-account</v-icon>
                                            <v-list-item-title>Others' interests</v-list-item-title>
                                        </v-list-item>
                                    </template>
                                    <v-card>
                                        <v-subheader>YOUR HISTORY:</v-subheader>
                                        <v-list>
                                            <v-list-item v-for="track of userPlaylist"
                                                @click="addTrack(track.id.toString())">
                                                <v-list-item-title>{{ track.name }}</v-list-item-title>
                                                <v-list-item-subtitle>
                                                    {{track.ar.map(function(f){return f.name}).join('-')}} -
                                                    {{track.al.name}}
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                        <v-subheader>ALL LISTENERS':</v-subheader>
                                        <v-list>
                                            <v-list-item v-for="track of bufferedPlaylist.songs" :key="track.id">
                                                <v-list-item-title>{{ track.name }}</v-list-item-title>
                                                <v-list-item-subtitle>
                                                    {{track.ar.map(function(f){return f.name}).join('-')}} -
                                                    {{track.al.name}}
                                                </v-list-item-subtitle>
                                            </v-list-item>
                                        </v-list>
                                </v-dialog>
                                </v-card>
                            </v-list>
                        </v-menu>
                    </v-toolbar>
                    <v-card v-if="!playlist.length" style="background: white;" class="text-h6 pa-12">
                        No tracks available - use <v-btn>
                            <v-icon>mdi-menu</v-icon>
                        </v-btn> on the top right corner to add tracks
                    </v-card>
                    <v-list v-if="playlist.length" style="background: white;" ghost-class="ghost">
                        <v-list-item v-for="(track,index) in playlist" :key="track.id" @click="setPlay(track)">
                            <v-list-item-title>{{track.name}}</v-list-item-title>
                            <v-list-item-subtitle>{{track.al.name}} -
                                {{track.ar.map(function(f){return f.name}).join('-')}}
                            </v-list-item-subtitle>
                            <v-spacer></v-spacer>
                            <v-list-item-icon class="ml-0">
                                <v-btn icon v-if="track.id != currentTrack.id" @click="playlist.splice(index,1)">
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>
                                <v-btn icon v-else @click="downloadTrack(track)">
                                    <v-icon>mdi-download</v-icon>
                                </v-btn>
                            </v-list-item-icon>
                    </v-list>
                    <v-footer padless v-if="server">
                        <v-col class="text-center" cols="12">
                            Server hosted by <strong>{{ server.nickname }}</strong>
                        </v-col>
                    </v-footer>
                    </draggable>
                </v-dialog>
            </v-bottom-navigation>
            <v-snackbar top multi-line v-model="snackBar" :timeout="snackTimeout">
                {{ snackMessage }}
                <template v-slot:action="{ attrs }">
                    <v-btn color="red" icon @click="snackBar = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </template>
            </v-snackbar>
        </v-app>
    </div>
</body>
<script src="js/dist/utils.dev.js"></script>
<script>
    // loading scripts
    if (typeof check_arg == 'undefined') {
        // load fallback scripts
        console.warn('[script] loading fallback scripts [non-dev]')
        var scripts = [
            'js/utils.js', 'js/fftanalyzer.js', 'js/fftinit.js', 'js/core.js'
        ]
    } else {
        console.log('[script] loading scripts [dev]')
        var scripts = [
            'js/dist/fftanalyzer.dev.js', 'js/dist/fftinit.dev.js', 'js/dist/core.dev.js'
        ]
    }
    for (var i in scripts) {
        var script = scripts[i]
        var tag = document.createElement('script')
        tag.type = 'text/javascript'
        tag.src = script
        console.log('[script] loading ' + script)
        document.body.appendChild(tag)
    }
</script>

</html>